@font-face {
  font-family: "Norse-Bold";
  src: url("../assets/Norse-Bold.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.base{
  display: flex;
}

.imageleft {
  flex: 1;
  height: 100vh;
  background-image: url("../assets/greenleaf.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.ribbon {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 90px;
  font-family: "Norse-Bold";
  text-align: center;
  padding: 5px;
  color: white;
  margin-top: auto;
}
.credits{
  color: white;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  font-size: 12px;
  margin-top: auto;
}
.right {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top{
  padding:100px 200px 90px 100px;
  font-weight: bold;
  font-size: 25px;
  background-color: #F9FAFB;
}

.mid{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-self: stretch;
  /* border-bottom: 2px solid black; */
  padding: 20px;
  font-family: monospace;
  font-size: 20px;

}
.mid > div:first-child{
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
}
form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  /* border: 1px solid black; */
}
.formrow {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
}
.formcol {
  /* border: 1px solid black; */
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items:right;
}

.formcol > input{
  margin: 5px;
  padding: 5px;
  width: 50%;
  border-radius: 5px;
  border: 1px solid #D9D9D9;
  font-size: 20px;
}

.bottom {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: flex-start; 
  padding: 30px 0 0 50px;
  gap: 20px;
  font-size: 20px;
  background-color: #F9FAFB;
  width: 100%;
  height: 100%;
  /* font-weight: bold; */
}
 .bottom > input[type="submit"]{
   background-color: #596D48;
   font-weight: bold;
   font-size: 20px;
   color: white;
   padding: 10px 70px 10px 70px;
   border: none;
   border-radius: 8px;
   width: 300px;
   cursor: pointer;
 }
 input[type="submit"]:hover{
   background-color: #4B5C3F;
 }
 .bottom > p > a{
  text-decoration: none;
  color: #596D48;
  font-weight: bold;
 }
/* input:invalid{ */
  /* border: 2px solid red; */
/* } */

.formcol > input:focus {
  border: none;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.342);
  outline: none;
}

.formcol > input:invalid:focus {
  border: 2px solid rgb(255, 69, 100)
}

.formcol > input:focus:valid {
  border: rgb(0, 183, 255) 2px solid;
}

.passwordMessage{
  font-size: 16px;
  color: red;
  font-weight: bold;
}





